@use "base/reset";

@use "base/typography";
@use "utilities" as *;
@use "components/buttons";
@use "components/modal";

body {
  min-width: 320px;
  background-color: $clr-neutral;
  &.has-modal {
    overflow: hidden;
  }
}

.page {
  height: clamp(660px, 100vh, 1200px);
  display: grid;
  grid-template-rows:
    minmax(94px, 210px) minmax(70px, 150px) minmax(350px, 1fr)
    minmax(100px, 300px);
  justify-content: center;
  align-items: center;
  @include mq("md") {
    grid-template-rows:
      minmax(94px, 210px) minmax(70px, 150px) minmax(460px, 1fr)
      minmax(100px, 300px);
  }
}

.logo-image {
  margin: 0 auto;
  height: 24px;
  aspect-ratio: 4.78125;
  @include mq("md") {
    height: 32px;
  }
}

.menu {
  display: flex;
  border-radius: 999px;
  background-color: $clr-neutral-dark;
  padding: 7px;
  z-index: 1; //fixes box shadow bleeding from timer
}

.seconds,
.minutes {
  display: flex;
  flex: 1 0; //Centers timer on the colon symbol for non monospace fonts
}
.minutes {
  justify-content: fle-end;
}

.timer {
  color: $clr-text;
  font-size: 5rem;
  flex: 1 0;
  letter-spacing: -0.05em;
  display: flex;
  justify-content: center;
  width: 300px;
  align-items: flex-end;
  position: relative;

  @include mq("md") {
    font-size: 6.25rem;
  }
  z-index: 1;
  &-container {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: flex-end;
  }
  &-outside-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
    box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
    @include mq("md") {
      width: 410px;
      height: 410px;
    }
  }
  &-inside-container {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 268px;
    height: 268px;
    border-radius: 50%;
    background-color: $clr-neutral-dark;
    position: relative;
    @include mq("md") {
      width: 366px;
      height: 366px;
    }
  }
  &__progress-bar {
    position: absolute;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    @include mq("md") {
      width: 350px;
    }
  }
}
